In [1]:
### data manipulation and aanlysis techniques using pandas

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("data.csv")

In [4]:
df.head()

         Date Category  Value   Product  Sales Region
0  2023-01-01        A   28.0  Product1  754.0   East
1  2023-01-02        B   39.0  Product3  110.0  North
2  2023-01-03        C   32.0  Product2  398.0   East
3  2023-01-04        B    8.0  Product1  522.0   East
4  2023-01-05        B   26.0  Product3  869.0  North

In [5]:
df.tail()

          Date Category  Value   Product  Sales Region
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [ ]:
df.describe() #All the statistical value

           Value       Sales
count  47.000000   46.000000
mean   51.744681  557.130435
std    29.050532  274.598584
min     2.000000  108.000000
25%    27.500000  339.000000
50%    54.000000  591.500000
75%    70.000000  767.500000
max    99.000000  992.000000

In [7]:
df.dtypes

Date         object
Category     object
Value       float64
Product      object
Sales       float64
Region       object
dtype: object

In [9]:
## handling missing values
df.isnull()

     Date  Category  Value  Product  Sales  Region
0   False     False  False    False  False   False
1   False     False  False    False  False   False
2   False     False  False    False  False   False
3   False     False  False    False  False   False
4   False     False  False    False  False   False
5   False     False  False    False  False   False
6   False     False  False    False  False   False
7   False     False  False    False  False   False
8   False     False  False    False  False   False
9   False     False  False    False  False   False
10  False     False  False    False  False   False
11  False     False  False    False   True   False
12  False     False  False    False  False   False
13  False     False  False    False  False   False
14  False     False  False    False  False   False
15  False     False   True    False  False   False
16  False     False  False    False  False   False
17  False     False   True    False  False   False
18  False     False  False    False  False   False
19  False     False  False    False  False   False
20  False     False  False    False  False   False
21  False     False  False    False  False   False
22  False     False  False    False  False   False
23  False     False  False    False  False   False
24  False     False  False    False  False   False
25  False     False  False    False  False   False
26  False     False  False    False  False   False
27  False     False  False    False  False   False
28  False     False   True    False  False   False
29  False     False  False    False  False   False
30  False     False  False    False  False   False
31  False     False  False    False  False   False
32  False     False  False    False  False   False
33  False     False  False    False   True   False
34  False     False  False    False  False   False
35  False     False  False    False   True   False
36  False     False  False    False  False   False
37  False     False  False    False   True   False
38  False     False  False    False  False   False
39  False     False  False    False  False   False
40  False     False  False    False  False   False
41  False     False  False    False  False   False
42  False     False  False    False  False   False
43  False     False  False    False  False   False
44  False     False  False    False  False   False
45  False     False  False    False  False   False
46  False     False  False    False  False   False
47  False     False  False    False  False   False
48  False     False  False    False  False   False
49  False     False  False    False  False   False

In [10]:
df.isnull().any(axis=1)

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11     True
12    False
13    False
14    False
15     True
16    False
17     True
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28     True
29    False
30    False
31    False
32    False
33     True
34    False
35     True
36    False
37     True
38    False
39    False
40    False
41    False
42    False
43    False
44    False
45    False
46    False
47    False
48    False
49    False
dtype: bool

In [11]:
df.isnull().any()

Date        False
Category    False
Value        True
Product     False
Sales        True
Region      False
dtype: bool

In [12]:
# To find out how ma ny missing value we have
df.isnull().sum()

Date        0
Category    0
Value       3
Product     0
Sales       4
Region      0
dtype: int64

In [14]:
## Fill the missing value with 0

df.fillna(0)

          Date Category  Value   Product  Sales Region
0   2023-01-01        A   28.0  Product1  754.0   East
1   2023-01-02        B   39.0  Product3  110.0  North
2   2023-01-03        C   32.0  Product2  398.0   East
3   2023-01-04        B    8.0  Product1  522.0   East
4   2023-01-05        B   26.0  Product3  869.0  North
5   2023-01-06        B   54.0  Product3  192.0   West
6   2023-01-07        A   16.0  Product1  936.0   East
7   2023-01-08        C   89.0  Product1  488.0   West
8   2023-01-09        C   37.0  Product3  772.0   West
9   2023-01-10        A   22.0  Product2  834.0   West
10  2023-01-11        B    7.0  Product1  842.0  North
11  2023-01-12        B   60.0  Product2    0.0   West
12  2023-01-13        A   70.0  Product3  628.0  South
13  2023-01-14        A   69.0  Product1  423.0   East
14  2023-01-15        A   47.0  Product2  893.0   West
15  2023-01-16        C    0.0  Product1  895.0  North
16  2023-01-17        C   93.0  Product2  511.0  South
17  2023-01-18        C    0.0  Product1  108.0   West
18  2023-01-19        A   31.0  Product2  578.0   West
19  2023-01-20        A   59.0  Product1  736.0   East
20  2023-01-21        C   82.0  Product3  606.0  South
21  2023-01-22        C   37.0  Product2  992.0  South
22  2023-01-23        B   62.0  Product3  942.0  North
23  2023-01-24        C   92.0  Product2  342.0   West
24  2023-01-25        A   24.0  Product2  458.0   East
25  2023-01-26        C   95.0  Product1  584.0   West
26  2023-01-27        C   71.0  Product2  619.0  North
27  2023-01-28        C   56.0  Product2  224.0  North
28  2023-01-29        B    0.0  Product3  617.0  North
29  2023-01-30        C   51.0  Product2  737.0  South
30  2023-01-31        B   50.0  Product3  735.0   West
31  2023-02-01        A   17.0  Product2  189.0   West
32  2023-02-02        B   63.0  Product3  338.0  South
33  2023-02-03        C   27.0  Product3    0.0   East
34  2023-02-04        C   70.0  Product3  669.0   West
35  2023-02-05        B   60.0  Product2    0.0   West
36  2023-02-06        C   36.0  Product3  177.0   East
37  2023-02-07        C    2.0  Product1    0.0  North
38  2023-02-08        C   94.0  Product1  408.0  South
39  2023-02-09        A   62.0  Product1  155.0   West
40  2023-02-10        B   15.0  Product1  578.0   East
41  2023-02-11        C   97.0  Product1  256.0   East
42  2023-02-12        A   93.0  Product3  164.0   West
43  2023-02-13        A   43.0  Product3  949.0   East
44  2023-02-14        A   96.0  Product3  830.0   East
45  2023-02-15        B   99.0  Product2  599.0   West
46  2023-02-16        B    6.0  Product1  938.0  South
47  2023-02-17        B   69.0  Product3  143.0   West
48  2023-02-18        C   65.0  Product3  182.0  North
49  2023-02-19        C   11.0  Product3  708.0  North

In [17]:
## Replace the missing value with 0 is not appropritae so we will replace the value with their mean values

## Filling the missing value with the mean of column

df_filled = df.fillna(0)
df["New_Sales"] = df["Sales"].fillna(df["Sales"].mean())
df

          Date Category  Value   Product  Sales Region   New_Sales
0   2023-01-01        A   28.0  Product1  754.0   East  754.000000
1   2023-01-02        B   39.0  Product3  110.0  North  110.000000
2   2023-01-03        C   32.0  Product2  398.0   East  398.000000
3   2023-01-04        B    8.0  Product1  522.0   East  522.000000
4   2023-01-05        B   26.0  Product3  869.0  North  869.000000
5   2023-01-06        B   54.0  Product3  192.0   West  192.000000
6   2023-01-07        A   16.0  Product1  936.0   East  936.000000
7   2023-01-08        C   89.0  Product1  488.0   West  488.000000
8   2023-01-09        C   37.0  Product3  772.0   West  772.000000
9   2023-01-10        A   22.0  Product2  834.0   West  834.000000
10  2023-01-11        B    7.0  Product1  842.0  North  842.000000
11  2023-01-12        B   60.0  Product2    NaN   West  557.130435
12  2023-01-13        A   70.0  Product3  628.0  South  628.000000
13  2023-01-14        A   69.0  Product1  423.0   East  423.000000
14  2023-01-15        A   47.0  Product2  893.0   West  893.000000
15  2023-01-16        C    NaN  Product1  895.0  North  895.000000
16  2023-01-17        C   93.0  Product2  511.0  South  511.000000
17  2023-01-18        C    NaN  Product1  108.0   West  108.000000
18  2023-01-19        A   31.0  Product2  578.0   West  578.000000
19  2023-01-20        A   59.0  Product1  736.0   East  736.000000
20  2023-01-21        C   82.0  Product3  606.0  South  606.000000
21  2023-01-22        C   37.0  Product2  992.0  South  992.000000
22  2023-01-23        B   62.0  Product3  942.0  North  942.000000
23  2023-01-24        C   92.0  Product2  342.0   West  342.000000
24  2023-01-25        A   24.0  Product2  458.0   East  458.000000
25  2023-01-26        C   95.0  Product1  584.0   West  584.000000
26  2023-01-27        C   71.0  Product2  619.0  North  619.000000
27  2023-01-28        C   56.0  Product2  224.0  North  224.000000
28  2023-01-29        B    NaN  Product3  617.0  North  617.000000
29  2023-01-30        C   51.0  Product2  737.0  South  737.000000
30  2023-01-31        B   50.0  Product3  735.0   West  735.000000
31  2023-02-01        A   17.0  Product2  189.0   West  189.000000
32  2023-02-02        B   63.0  Product3  338.0  South  338.000000
33  2023-02-03        C   27.0  Product3    NaN   East  557.130435
34  2023-02-04        C   70.0  Product3  669.0   West  669.000000
35  2023-02-05        B   60.0  Product2    NaN   West  557.130435
36  2023-02-06        C   36.0  Product3  177.0   East  177.000000
37  2023-02-07        C    2.0  Product1    NaN  North  557.130435
38  2023-02-08        C   94.0  Product1  408.0  South  408.000000
39  2023-02-09        A   62.0  Product1  155.0   West  155.000000
40  2023-02-10        B   15.0  Product1  578.0   East  578.000000
41  2023-02-11        C   97.0  Product1  256.0   East  256.000000
42  2023-02-12        A   93.0  Product3  164.0   West  164.000000
43  2023-02-13        A   43.0  Product3  949.0   East  949.000000
44  2023-02-14        A   96.0  Product3  830.0   East  830.000000
45  2023-02-15        B   99.0  Product2  599.0   West  599.000000
46  2023-02-16        B    6.0  Product1  938.0  South  938.000000
47  2023-02-17        B   69.0  Product3  143.0   West  143.000000
48  2023-02-18        C   65.0  Product3  182.0  North  182.000000
49  2023-02-19        C   11.0  Product3  708.0  North  708.000000

1. Global Fill (df.fillna(0))
df_filled = df.fillna(0)

The Action: This looks at the entire DataFrame (df) and replaces every single missing value (NaN) with 0.

The Result: It creates a new DataFrame called df_filled. The original df remains unchanged.

When to use: This is useful when a missing value logically means "zero" (e.g., a customer who didn't make a purchase has 0 sales).

2. Targeted Imputation (mean())
df["New_Sales"] = df["Sales"].fillna(df["Sales"].mean())

The Action: Instead of filling everything with zero, this focuses only on the "Sales" column.

The Strategy: It calculates the average (mean) of the existing sales numbers and uses that average to plug the holes.

The Result: It creates a new column in your original DataFrame called "New_Sales".

When to use: This is a common statistical technique called "Mean Imputation." It's used when you don't want to bias your data toward zero and prefer to use a "typical" value for that column.

In [19]:
df.dtypes

Date          object
Category      object
Value        float64
Product       object
Sales        float64
Region        object
New_Sales    float64
dtype: object

In [22]:
## Change data types
## Renaming Columns

df=df.rename(columns={"Date":"Sales_date"})
df.head()

   Sales_date Category  Value   Product  Sales Region  New_Sales
0  2023-01-01        A   28.0  Product1  754.0   East      754.0
1  2023-01-02        B   39.0  Product3  110.0  North      110.0
2  2023-01-03        C   32.0  Product2  398.0   East      398.0
3  2023-01-04        B    8.0  Product1  522.0   East      522.0
4  2023-01-05        B   26.0  Product3  869.0  North      869.0

In [28]:
#Change data types
df["New_value"]=df["Value"].fillna(df["Value"].mean()).astype(int)
df.head()

   Sales_date Category  Value   Product  Sales Region  New_Sales  New_value
0  2023-01-01        A   28.0  Product1  754.0   East      754.0         28
1  2023-01-02        B   39.0  Product3  110.0  North      110.0         39
2  2023-01-03        C   32.0  Product2  398.0   East      398.0         32
3  2023-01-04        B    8.0  Product1  522.0   East      522.0          8
4  2023-01-05        B   26.0  Product3  869.0  North      869.0         26

The Step-by-Step Logic
.fillna(df["Value"].mean()): It finds any missing (NaN) values in the "Value" column and replaces them with the average of that column.

.astype(int): It converts the entire column from decimals (floats) into whole numbers (integers). This will truncate any decimals (e.g., 10.9 becomes 10).

df["New_value"] = ...: It saves this cleaned, rounded data into a brand new column called "New_value," leaving the original "Value" column untouched.

In [31]:
## Multiply column value apply lambda

df['New Value']= df['Value'].apply(lambda x:x*2).fillna(df['Value'].mean()).astype(int)
df.head()

,Sales_date,Category,Value,Product,Sales,Region,New_Sales,New_value,New Value
0,2023-01-01,A,28.0,Product1,754.0,East,754.0,28,56
1,2023-01-02,B,39.0,Product3,110.0,North,110.0,39,78
2,2023-01-03,C,32.0,Product2,398.0,East,398.0,32,64
3,2023-01-04,B,8.0,Product1,522.0,East,522.0,8,16
4,2023-01-05,B,26.0,Product3,869.0,North,869.0,26,52

1. Grouping
Grouping is the act of categorizing your data. You aren't changing the values yet; you are just deciding how to "bucket" them.

Example: Grouping a list of employees by their "Department."

2. Aggregating
Aggregation is the math performed on those buckets. It turns a list of many numbers into a single summary number.
Common aggregation functions include:

Sum: Totaling values.

Mean/Average: Finding the typical value.

Count: Seeing how many entries exist in that group.

Min/Max: Finding the range.

In [34]:
## data aggregating and grouping

grouped_mean = df.groupby("Product")["Sales"].mean()
print(grouped_mean)

Product
Product1    574.866667
Product2    567.230769
Product3    535.055556
Name: Sales, dtype: float64

In [35]:
grouped_mean = df.groupby("Product")["New Value"].mean()
print(grouped_mean)

Product
Product1     87.250000
Product2    105.600000
Product3    107.210526
Name: New Value, dtype: float64

In [38]:
#grouped by multiple column
grouped_sum = df.groupby(["Product","Region"])["Value"].sum()
print(grouped_sum)

Product   Region
Product1  East      292.0
          North       9.0
          South     100.0
          West      246.0
Product2  East       56.0
          North     127.0
          South     181.0
          West      428.0
Product3  East      202.0
          North     203.0
          South     215.0
          West      373.0
Name: Value, dtype: float64

In [40]:
df.groupby(["Product","Region"])["Value"].mean()

Product   Region
Product1  East      41.714286
          North      4.500000
          South     50.000000
          West      82.000000
Product2  East      28.000000
          North     63.500000
          South     60.333333
          West      53.500000
Product3  East      50.500000
          North     40.600000
          South     71.666667
          West      62.166667
Name: Value, dtype: float64

In [42]:
## Aggregrate Multiple Function
grouped_agg = df.groupby(['Region'])['New Value'].agg(['mean','sum','count'])
print(grouped_agg)

              mean   sum  count
Region
East     84.615385  1100     13
North    70.909091   780     11
South   124.000000   992      8
West    119.166667  2145     18

In [ ]:
## MErging and Joining data frames