Pandas is a powerful data manipulation library in python, widely used for data analysis and data cleaning. It provides two primary data structures : series and data frame. A series is one dimensional array like object, while data frame is a two dimensional, size mutable and potentially heterogeneous tabular.

In [3]:
import pandas as pd

In [4]:
## Series in pandas
import pandas as pd
data = [1,2,3,4,5]
series = pd.Series(data)
print("Series:\n",series)
print(type(series))

Series:
 0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
## Create series from dictionary
data = {'a':1,'b':2,'c':3,'d':4,'e':5}
series_dict = pd.Series(data)
print(series_dict)
print(type(series_dict))

a    1
b    2
c    3
d    4
e    5
dtype: int64
<class 'pandas.core.series.Series'>

In [6]:
data = [10,20,30,40,50]
index = ['a','b','c','d','e']
series = pd.Series(data,index)
print(series)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [7]:
#DataFrame
# Create a dataframe from a dictionary of list

data = {
    'Name':['MUHAMMAD','Imtiaz','Ahmed'],
    'Age':[22,24,27],
    'City':['Dhaka','Chittagong','Sylhet']
}

#Now create a data frame
df = pd.DataFrame(data)
print(df)
print(type(df))

       Name  Age        City
0  MUHAMMAD   22       Dhaka
1    Imtiaz   24  Chittagong
2     Ahmed   27      Sylhet
<class 'pandas.core.frame.DataFrame'>

In [9]:
import numpy as np
np.array(df)  #Convert dict to array

array([['MUHAMMAD', 22, 'Dhaka'],
       ['Imtiaz', 24, 'Chittagong'],
       ['Ahmed', 27, 'Sylhet']], dtype=object)

In [13]:
#Create  a dataframe from the list of Dictionaries

data = [
    {'Name': 'Muhammad','Age':24,"City":"Dhaka"},
    {"Name":"Ahmed","Age":26,"City":"Chandpur"},
    {"Name":"Imtiaz","Age":28,"City":"Chittagong"}
]
df = pd.DataFrame(data)
print(df)

       Name  Age        City
0  Muhammad   24       Dhaka
1     Ahmed   26    Chandpur
2    Imtiaz   28  Chittagong